.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.profile-image {
    width: 140px;
    border-radius: 50%;
    border: 3px solid #333;
}

.profile-name {
    font-size: 26px;
    margin-top: 10px;
}

.profile-role {
    color: #666;
}

.intro-section {
    max-width: calc(100% - 100px);
    margin: 0 auto;
}

.intro-text {
    margin: 12px 0;
    line-height: 1.6;
}
.external-link {
    color: #222121;
}
.external-link:hover {
    color: #0077b5;
}

.info-section {
    margin-top: 20px;
}

.info-label:first-child {
    font-weight: bold;
    margin-left: 0px;
}
.info-label{
    font-weight: bold;
    margin-left: 30px;
}
.info-link {
    color: #333;
}

.info-link:hover {
    color: #0077b5;
}