.profile-section {
    text-align: center;
    margin-bottom: 25px;
    position: relative;
}

.profile-image {
    width: 140px;
    border-radius: 50%;
    border: 3px solid #333;
}

.profile-name {
    font-size: 26px;
    margin-top: 10px;
}

.profile-role {
    color: #666;
}

.status-badge {
    position: absolute;
    top: 5px;
    right: 30%;
    background-color: green;
    color: #fff;
    font-size: 12px;
    padding: 3px 8px;
}

.intro-text {
    margin: 12px 0;
    line-height: 1.6;
}

.external-link:hover {
    color: #0077b5;
}

/* Info Section */
.info-section {
    margin-top: 20px;
}

.info-label:first-child {
    font-weight: bold;
    margin-left: 0px;
}
.info-label{
    font-weight: bold;
    margin-left: 30px;
}
.info-link {
    color: #333;
}

.info-link:hover {
    color: #0077b5;
}